.navbar {
    width: 401px;
    height: 55.5px;
    left: 15px;
    top: 10.5px;
    position: absolute;
    background: #D9D9D9;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .back {
    width: 37.5px;
    height: 37.5px;
    left: 43.5px;
    top: 18px;
    position: absolute;
  }

  .namei {
    width: 174.5px;
    height: 21px;
    left: 100px;
    top: 28px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  
  .profilei {
    width: 50px;
    height: 50px;
    left: 334.5px;
    top: 13px;
    position: absolute;
    border-radius: 50px;
  }

  .active {
    padding: 5px;
    left: 254px;
    top: 39px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: inline-flex;
  }
  
  .content {
    width: 345px;
    height: 350px;
    left: 47px;
    top: 146px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }

  .contenti {
    width: 361px;
    height: 350px;
    left: 37px;
    top: 132.5px;
    position: absolute;
    background: #8E8686;
    border-radius: 25px;
  }
  
  .subject {
    width: 340px;
    height: 29.5px;
    left: 47px;
    top: 95px;
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }

  .subjecti {
    width: 362.5px;
    height: 43px;
    left: 37px;
    top: 81.5px;
    position: absolute;
    background: #8E8686;
    border-radius: 25px;
  }
  
  .link-style {
    text-decoration: none;
    color: #fff;  
  }
  